# Problem 6

In [1]:
import findspark
findspark.init()

from pyspark import SparkContext, SparkConf
import seaborn as sns
sns.set_style("whitegrid")
import matplotlib.ticker as ticker   


# setup spark
conf = SparkConf().setAppName('MarkovShakespeare')
sc = SparkContext(conf=conf)

In [2]:
# load textlist from net
filename = "pg100.txt"

url = "http://www.gutenberg.org/cache/epub/100/pg100.txt"

import urllib

wordfile = urllib.URLopener()
wordfile.retrieve(url, filename)

('pg100.txt', <httplib.HTTPMessage instance at 0x1133bf6c8>)

In [3]:
# the texts from shakespeare are contained in lines 182 - 124367
# create the file Shakespeare.txt using the line range from above
# if all is ok, this should return True, True
with open(filename, 'r') as f:
    lines = f.readlines()
    lines = lines[181:124367]
    with open('Shakespeare.txt', 'w') as f2:
        f2.writelines(lines)
    print f2.closed
f.closed

True

True

In [347]:
# filtering is done by spark
words = sc.textFile('Shakespeare.txt')

In [348]:
# split lines into words (after whitespace)
# before splitting replace first some escape characters with white space
rdd = words.flatMap(lambda line: line.replace('\n', ' ').replace('\r', ' ').split(' '))

In [349]:
# now perform filtering on the words
# to develop the regular expression this awesome tool was used https://regex101.com

# (1) filter out words that only contain numbers
# (2) filter out words for which all letters are capitalized
# (3) filter out words that contain letters only and end with a period
import re

pattern1 = re.compile(ur'([0-9]+\.?)|\.')  # use only a simple RE for numbers here (numbers in the shakespeare text are formateed as 1., 2., ...)
pattern2 = re.compile(ur'(\b[A-Z]+\.?\b)|\.') # ==> do (2) & (3) together in one regex!

# filter does not change the order

# FILTERING DOES NOT WORK YET GOOD!

# first pattern works, second has troubles!
rdd = rdd.filter(lambda x: pattern1.match(x) is None).filter(lambda x: pattern2.match(x) is None).filter(lambda x: len(x) > 0)

In [350]:
rdd.take(5)

[u'From', u'fairest', u'creatures', u'we', u'desire']

In [351]:
# zip with index
rdd = rdd.zipWithIndex()

In [352]:
rdd.take(5)

[(u'From', 0), (u'fairest', 1), (u'creatures', 2), (u'we', 3), (u'desire', 4)]

In [353]:
rdd.map(lambda x:x).lookup(u'Now')

[231,
 1679,
 2628,
 8288,
 8303,
 9921,
 11886,
 12226,
 15578,
 18590,
 20856,
 20869,
 30398,
 30641,
 30703,
 30970,
 32002,
 37716,
 39790,
 41863,
 43033,
 45639,
 53116,
 53378,
 55072,
 55585,
 55796,
 56124,
 58337,
 59529,
 62304,
 62646,
 62695,
 62924,
 64717,
 65302,
 67966,
 72392,
 76689,
 76709,
 76734,
 78717,
 87425,
 89825,
 97288,
 101984,
 102526,
 105785,
 105978,
 106896,
 107666,
 109396,
 112407,
 113437,
 115209,
 115612,
 116751,
 117167,
 118609,
 119434,
 132951,
 133281,
 134639,
 136073,
 139888,
 144384,
 150076,
 153394,
 153465,
 157526,
 158043,
 160556,
 163346,
 163594,
 164038,
 165763,
 166266,
 167516,
 169164,
 169828,
 175563,
 177137,
 178671,
 179143,
 182482,
 184731,
 189301,
 189467,
 189588,
 196925,
 197002,
 205158,
 209234,
 209261,
 216733,
 218172,
 218717,
 227746,
 230690,
 230715,
 230918,
 235930,
 236026,
 236665,
 236681,
 237222,
 237281,
 238051,
 239600,
 240967,
 241433,
 244106,
 245124,
 246651,
 246685,
 254591,
 254817,
 257436,
 260253,
 260371,
 261296,
 261840,
 262274,
 262597,
 263256,
 264337,
 268721,
 269072,
 269157,
 269928,
 269953,
 270315,
 270756,
 273883,
 274508,
 274996,
 275922,
 276095,
 276150,
 276330,
 277854,
 278135,
 285535,
 286099,
 288289,
 289269,
 295036,
 296136,
 296480,
 297527,
 298003,
 298802,
 298940,
 299129,
 299949,
 303822,
 304080,
 306202,
 306845,
 308031,
 308624,
 309482,
 309779,
 309817,
 310644,
 312913,
 312931,
 312956,
 314254,
 314473,
 314876,
 316040,
 317372,
 317526,
 318113,
 319426,
 320590,
 321329,
 322214,
 323242,
 323371,
 323879,
 324858,
 326275,
 326960,
 328020,
 328680,
 329871,
 332217,
 332394,
 334561,
 338226,
 338801,
 339257,
 342504,
 346045,
 349720,
 349870,
 353282,
 353473,
 355446,
 361211,
 363115,
 363541,
 367933,
 367955,
 367985,
 368064,
 369609,
 372099,
 374074,
 375967,
 376343,
 379199,
 384109,
 384129,
 385122,
 387491,
 388438,
 389183,
 389854,
 389862,
 389932,
 390848,
 392798,
 392802,
 397176,
 404136,
 405811,
 406190,
 406625,
 408823,
 411600,
 413205,
 415018,
 417178,
 419913,
 420669,
 422520,
 424155,
 424194,
 424505,
 425190,
 428838,
 429323,
 430567,
 434599,
 443131,
 445990,
 446234,
 447065,
 447528,
 449954,
 451924,
 452319,
 453499,
 453510,
 453526,
 454755,
 457591,
 461809,
 463257,
 469800,
 471467,
 472805,
 474104,
 484223,
 487428,
 490049,
 496156,
 498317,
 508161,
 510218,
 512705,
 513582,
 515424,
 516222,
 520368,
 523311,
 525884,
 527021,
 527775,
 528132,
 528137,
 529696,
 529724,
 530377,
 532682,
 533296,
 533299,
 533317,
 533715,
 533736,
 533759,
 533806,
 534077,
 535835,
 541557,
 541560,
 542106,
 543371,
 554551,
 563135,
 564210,
 570737,
 570992,
 573239,
 573382,
 573395,
 573581,
 580799,
 582262,
 582366,
 585080,
 586191,
 586341,
 587123,
 587330,
 587621,
 589137,
 589227,
 589371,
 589380,
 590675,
 597426,
 597586,
 602060,
 603149,
 603181,
 608595,
 608991,
 611308,
 613287,
 617243,
 617945,
 618980,
 624058,
 629272,
 631207,
 634051,
 636831,
 637294,
 637328,
 637700,
 640420,
 640796,
 641598,
 641868,
 642403,
 646309,
 648239,
 649412,
 660493,
 661356,
 664776,
 665149,
 666043,
 666582,
 667154,
 668399,
 668807,
 669885,
 669993,
 672417,
 673178,
 673511,
 674057,
 675627,
 676247,
 676819,
 677817,
 678188,
 678266,
 678401,
 686751,
 687482,
 687939,
 689314,
 689569,
 690073,
 690991,
 692116,
 692132,
 692195,
 696710,
 698725,
 699829,
 699849,
 701489,
 709470,
 709487,
 714086,
 715723,
 716827,
 716964,
 717411,
 718895,
 719113,
 719741,
 719821,
 720224,
 720322,
 720399,
 720685,
 722905,
 723825,
 725700,
 727415,
 728099,
 728689,
 729668,
 729718,
 729739,
 730485,
 730525,
 730606,
 734829,
 734869,
 735875,
 738555,
 739530,
 744529,
 746652,
 748595,
 751982,
 752042,
 753851,
 754259,
 754564,
 754919,
 758523,
 758619,
 761007,
 762759,
 763479,
 763722,
 764956,
 768205,
 771480,
 771696,
 775595,
 776838,
 778250,
 778329,
 779209,
 779217,
 779236,
 779263,
 779273,
 780439,
 780447,
 781610,
 782382,
 784915,
 785120,
 785161,
 786519,
 790434,
 793050,
 793271,
 797394,
 799906,
 800407,
 802173,
 802405,
 802504,
 804194,
 808056,
 813086,
 814389]

In [354]:
# map to list
rdd = rdd.flatMap(lambda x: [(x[1], (0, x[0])), (x[1] - 1, (1, x[0])), (x[1] - 2, (2, x[0]))])

In [355]:
#rdd.take(5)

In [356]:
rdd = rdd.groupByKey()

In [357]:
#rdd.take(5)

In [358]:
# map (keyA, (keyA, wordA), (keyA + 1, wordA+1), (keyA + 2, wordA+2)) to (wordA, wordA+1, wordA+2)
fun = lambda x: list(x[1])
rdd = rdd.map(fun)

In [359]:
# HIER NOCH UNBEDINGT ALLE TUPEL RAUSSCHMEISSEN, DEREN LISTE != 3 Elemente enthaelt
rdd = rdd.filter(lambda x: len(x) == 3)

In [360]:
# map such that the three words form the key with value 1, we use that then to sum up everything
#gfun = lambda x: ((x[0][1], x[1][1], x[2][1]), 1)

# try to combine
gfun = lambda x: ((x[0][1], x[1][1], x[2][1]), 1)
#gfun = lambda x: (x[0][1], 1)
#rdd = rdd.map(gfun)

In [361]:
rdd = rdd.map(gfun)

In [362]:
#temp.take(20)

In [363]:
rdd = rdd.reduceByKey(lambda x,y:x+y)
#temp.take(5)

In [364]:
# remap form
rdd = rdd.map(lambda x: ((x[0][0], x[0][1]), (x[0][2], x[1])))

In [365]:
# final group by key
# maybe sort list after it!!!
rdd = rdd.groupByKey().map(lambda x: (x[0],list(x[1]) ))

In [366]:
rdd.map(lambda x: x).lookup((u'Now', u'is'))

[[(u'a', 1),
  (u'my', 2),
  (u'the', 9),
  (u'this', 1),
  (u'that', 1),
  (u'be', 1),
  (u'it', 3),
  (u'he', 1),
  (u'his', 1),
  (u'your', 1),
  (u'Mortimer', 1)]]